
.container-xl{
    border: 2px solid rgb(139, 139, 139);
    border-radius: 10px;
    background-color: rgb(26,26,26);
    margin-top: 20px;
    .Type-Name{
        color: rgb(255,130, 0);
        font-weight: 700;
        font-size:30px;
    }
}


.col-sm-3{
    border: 1px solid red;
    width: 400px;
}